<div class="timeline-item">
  <div class="timeline-left">
    <!-- <a href="#" class="timeline-category" data-zebra-tooltip title="Technology"><i class="material-icons">&#xE894;</i></a> -->
    <a href="#" class="timeline-category"><i class="material-icons">&#xE894;</i></a>
    <span class="timeline-date"><%= time_ago_in_words(article.created_at).gsub("about", "").gsub("minutes", "mins") %> ago</span>
  </div>
  <div class="timeline-right">
    <div class="timeline-post-image">
      <%= link_to article.link, target: :_blank do %>
        <%= image_tag article.image, width: 260 %>
      <% end %>
    </div>
    <div class="timeline-post-content">
      <!-- <a href="#" class="timeline-category-name">Suspected</a> -->
      <%= link_to article.link, target: :_blank do %>
        <h3 class="timeline-post-title"><%= article.headline %></h3>
      <% end %>
      <div class="timeline-post-info">
        <p class="d-none d-sm-block">
          <%= article.preview %>
        </p>

        <%= link_to article.source, article.link, target: :_blank %>
        <span class="dot"></span>
        <span class="comment"><%= article.created_at.strftime("%d %b %Y %I:%M%P") %></span>
        <span class="dot"></span>
        <span class="comment">32 Views</span>
      </div>
    </div>
  </div>
</div>