<!DOCTYPE html>
<html>
  <head>
    <title>WuhanvirusSg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <!-- header start -->
    <%= render "layouts/header" %>
    <!-- header end -->

    <!-- Left sidebar menu start -->
    <%= render "layouts/left_side_bar" %>
    <!-- Left sidebar menu end -->

    <!-- Main container start -->
    <%= yield %>
    <!-- Main container end -->
    
  </body>
</html>
