<!DOCTYPE html>
<html>
  <head>
    <title>WuhanvirusSg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <!-- header start -->
    <%= render "layouts/header" %>
    <!-- header end -->

    <!-- Left sidebar menu start -->
    <%= render "layouts/left_side_bar" %>
    <!-- Left sidebar menu end -->

    <!-- Main container start -->
    <%= yield %>
    <!-- Main container end -->

    <%= javascript_include_tag    'application', media: 'all' %>

    <%= content_for :page_scripts %>
  </body>
</html>
